AddDefaultCharset utf-8

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ErrorDocument 404 /testTask1/app/resources/views/errors/err404.php

RewriteRule ^(.*)$ index.php
